html{
    height: 100% ;
}
body{
    height: 100% ;
  background-color: rgba(255, 166, 0, 0.438);
    overflow: scroll;
}
#cont  {
        min-height: 100%    ;
       }
#main  {
        overflow: auto      ;
        padding-bottom:200px;
       }
#ul1
{
  list-style-type: none;
  margin: 55px 0px;
  padding-left:365px ;
   position: fixed;
  z-index: 999999;
   
  
}
ul {
    z-index: 99999;
  list-style-type: none;
  margin: 0px 0px;
  padding-left: 19;
 top:0px;
    position: fixed;
    width: 100%;
    }
li
{
  float: left;
}

li a 
{
  font-size:40px;
  padding: 12px 82px;
  display:inline-block;
  width:200px;
  height:30px;
  background-color:rgb(238, 232, 170);
  text-decoration: none;
  text-align:center;
  border: 0.5px solid black;
  color: black;
  font-size: 27px;
}
li a:hover 
{
  background-color: palegoldenrod;
  color: white;
  
}
.logo
{
  position:fixed;
  left: 0px;
  top: px;
  margin-top:px;
  z-index:99999999;
}
.div1
{
  width: 70%;
    height:auto;
  padding-top: 100px;
  padding-left: 250px;
  padding-bottom: 100px;

}  

.dogg
{
  display: block;
  border: solid;
  width: 700px;
  position: relative;
  padding: 10px; 
  border-radius: 15px 50px;
  border-width: 5px;
  border-color: rgba(207, 153, 72, 0.7);
  background-color: wheat;
}
.dogg h1
{
  color: chocolate;
  text-decoration: none;
  font-family: sans-serif ;
  font-size: 40px;
}
.doggy h2
{
  color: rgba(210, 105, 30, 0.664);
  text-decoration: none;
  font-family: sans-serif ;
  font-size: 35px;
}
.img{
  width: 250px;
  height: 300px;
}
.th1
{
  width: 300px;
  height: 330px;
  padding: 30px;
}
.td1
{
  width: 300px;
  height: 200px;
  padding: 30px;
  text-align: center;
}
.price 
{
  color: chocolate;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}
p{
  text-align: center;
  text-decoration: none;
  font-weight: normal;
  font-family: sans-serif ;
  font-size: 20px;
}
button
{
  height: 35px;
  width: 150px;
  background-color: chocolate;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border-color: white;
  border: 2px solid white; 
  border-radius: 4px;
}
.doggy
{
  display: block;
  border: solid;
  position: relative; 
  border-radius: 15px 50px;
  border-width: 3px;
  border-color: rgba(207, 153, 72, 0.432);
  background-color: rgba(233, 233, 233, 0.445); 
}


#citty
{
  margin: 0px 0 0;
}
.citten
{
  display: block;
  border: solid;
  width: 0px;
  position: relative;
  padding: 10px; 
  border-radius: 15px 50px;
  border-width: 5px;
  border-color: rgba(207, 153, 72, 0.7);
  background-color: wheat;
}
.citten h1
{
  color: chocolate;
  text-decoration: none;
  font-family: sans-serif ;
  font-size: 40px;
}



.catty
{
  display: block;
  border: solid;
  position: relative; 
  border-radius: 15px 50px;
  border-width: 3px;
  border-color: rgba(207, 153, 72, 0.432);
  background-color:  rgba(233, 233, 233, 0.445); 
}
.catty h2
{
  color: rgba(210, 105, 30, 0.664);
  text-decoration: none;
  font-family: sans-serif ;
  font-size:35 px;}
#foot   {
         position: relative ;
         background-color:palegoldenrod;
         height: 200px      ;
         margin-top: -200px ;
         clear: both        ;
        }
#link   {
         border:3px         ;
         border-color: burlywood ;
         color :saddlebrown;
    text-decoration: none;
        }
em{
    color: saddlebrown;
}
#ahover {
         color: forestgreen ;
        }
#end    {
         font-size: 20      ;    
         text-align: center ;
        }
#m      {
         color: coral;    
         font-size: 30      ;
         text-align: center ;
        }    
#table  {
         border-spacing: 5px;
         font-size: 20      ;
        }
#fee    {
         position:inherit   ;
         font-size: 18      ;
        }
#fee2   {
         width: 400px       ;
         height: 50px       ;
        } 
.tho    {
         border-left-width: 20px;                
        }
/* media quary*/
/*mobile and tablets*/

@media only screen and (max-width: 767px)
{
  body{
    width: 100%;
    overflow-x: hidden;
  }
  .logo{
    width: 80px;
   padding-left: 30px;
      top: 0px;
  }
    
  ul 
  {
    width: 100%;
      padding: 0px 90px;
  }
  li a 
  {
    width: 25px;
    height: 12px;
    font-size:11px;
    padding-left: 0;
      text-align: left;
  }
  #ul1
  {
    width: 100%;
    padding-left: 108px;
    padding-top: 0px;
    margin-top: 37px;
  }
  #ul1 li a 
  {
    width: 25px;
    height: 12px;
  }
  .dogg h1
  {
  font-size: 20px;
  }
  .doggy h2
  {
  font-size: 17px;
  }
  .img{
  width: 100px;
  height: 120px;
    
  }
    
  .th1
  {
  width: 100px;
  height: 165px;
      
  
  }
  .td1
  {
  width: 100px;
  height: 100px;
  padding: 0px;
      
  }
  .price 
  {
  font-size: 13.5px;
  }
  p{
  font-size: 15px;
 margin:0px 5px20px 50px;
  text-align: left;
   text-decoration: none;
  font-weight: normal;
  font-family: sans-serif ;
 
  }
  
  .dogg
  {
  padding: 10px;
  width: 0px;
      
  }
    
  .div1
  {
      
      width: 10%;
  padding-top: 90px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 100px;
      
  }
  .doggy
  {
  font-size:10 px;
      
  }
  
  
  #end    
  {
  font-size: 10px;    
  }
  #m      
  {     
  font-size: 10px;
 }    
  #table  
  {
  border-spacing: 2.5px;
  font-size: 10px ;
 }
  #fee 
  {
  font-size: 9px;
  } 
  #fee2   {
  width:80px       ;
  height: 30px       ;
 } 
 #foot
 {
 width: 97%;
height: 135px;
margin-bottom: 0px ;
}
    
}
 

 /*--------------------------------------*/
 /* from small to medium*/
 @media only screen and (min-width:768px)and (max-width:991px)
 {
 body{
    width: 100%;
    overflow-x: hidden;
  }
  .logo{
    width: 150px;
   padding-left: 70px;
      top: 0px;
  }
    .td1
{
  width: 30;
  height: 0px;
  padding: 0px ;
  text-align: left;
    
}
  ul 
  {
    width: 100%;
      padding: 0px 190px;
  }
  li a 
  {
    width: 70px;
    height: 24px;
    font-size:17px;
    padding-left: 0px;
      top: 0px;
      text-align: center;
  }
  #ul1
  {
    width: 100%;
    padding-left: 159px;
      top: 0px;
     
    
    
  }
  #ul1 li a 
  {
    width: 75.9px;
    height: 24px;
      margin: -6; 
  }
  .dogg h1
  {
  font-size: 30px;
  }
  .doggy h2
  {
  font-size: 25px;
  }
  .img{
  width: 150px;
  height:200px;
      padding: 0px ;
  }
  
  .th1
  {
  width: 0x;
  height: 165px;
  padding: 20px 30px;
  }
 
  
  .td
  {
  width: 100px;
  height: 100px;
  padding: 0px;
     }
  .price 
  {
  font-size:15px;
  }
  p{
  font-size: 15px;
 margin: 20px px 20px 0px;
  text-align: left;
   text-decoration: none;
  font-weight: normal;
  font-family: sans-serif ;
 
  }
  
  .dogg
  {
  padding:10px;
  width: 200px;
  }
  .div1
  {
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 0px;
  padding-bottom: 100px;
      
  }
  .doggy
  {
  font-size: 15px;
  }
  
  
  #end    
  {
  font-size: 10px;    
  }
  #m      
  {     
  font-size: 10px;
 }    
  #table  
  {
  border-spacing: 2.5px;
  font-size: 10px ;
 }
  #fee 
  {
  font-size: 9px;
  } 
  #fee2   {
  width:80px       ;
  height: 30px       ;
 } 
 #foot
 {
 width: 97%;
height: 135px;
margin-bottom: 0px ;
}
    }
 

 /*------------------------------------*/
 /* meduim screen*/
 @media only screen and (min-width:992px)and (max-width:1199px)
{
  body{
    width: 100%;
    overflow-x: hidden;
  }
  .logo{
    width: 165px;
   padding-left: 60px;
      top: 0px;
  }
    .td2
{
  width: 30px;
  height: 0px;
  padding: 0px ;
  text-align: left;
}
  ul 
  {
    width: 100%;
      padding: 0px 190px;
  }
  li a 
  {
    width: 100px;
    height: 22px;
    font-size:20px;
    padding-left: 2px;
      text-align: left;
  }
  #ul1
  {
   
    padding-left: 184px;
    padding-top: 0px;
    margin-top: 48px;
  }
  #ul1 li a 
  {
    width: 100px;
    height: 22px;
  }
  .dogg h1
  {
  font-size: 30px;
  }
  .doggy h2
  {
  font-size: 25px;
  }
  .img{
  width: 150px;
  height:200px;
      padding: 0px ;
  }
    .img1{
  width: 150px;
  height: 200px;
        
  }
  .th2
  {
  width: 0x;
  height: 165px;
  padding: 70px;
  }
  .td2
  {
  width: 100px;
  height: 100px;
  padding: 0px;
  }
     .th
  {
  width: 100px;
  height: 165px;
  padding: 70px;
  }
  .td
  {
  width: 100px;
  height: 100px;
  padding: 0px;
     }
  .price 
  {
  font-size:15px;
  }
  p{
  font-size: 15px;
 margin: 20px 2px 20px 0px;
  text-align: left;
   text-decoration: none;
  font-weight: normal;
  font-family: sans-serif ;
 
  }
  
  .dogg
  {
  padding: 30px;
  width: 350px;
  }
  .div2
  {
  padding-top: 100px;
  padding-left: 120px;
  padding-right: 0px;
  padding-bottom: 100px;
  }
  .doggy
  {
  font-size: 15px;
  }
  
  
  #end    
  {
  font-size: 10px;    
  }
  #m      
  {     
  font-size: 10px;
 }    
  #table  
  {
  border-spacing: 2.5px;
  font-size: 10px ;
 }
  #fee 
  {
  font-size: 9px;
  } 
  #fee2   {
  width:80px       ;
  height: 30px       ;
 } 
 #foot
 {
 width: 97%;
height: 135px;
margin-bottom: 0px ;
}
    }
/*------------------------------------*/
 /* meduim screen*/
 @media only screen and (min-width:1199px)
{
    .logo{
        width: 180;
        padding: 70 2;
    }
 
